.blog {
    margin-top: 4em;
    .home-template & {
        margin-top: 5em;
    }
    
    @media(max-width: 768px) {
        margin-top: 2.5em;
    }
    .page-number{
        @media(max-width: 768px) {
            // font-size: 0.8em;
            position: absolute;
            top: 3.5em;
            left: 0.4em;            
        }
    }
    .newer-posts {
        float: left;
        font-size: 0.8em;
    }
    .older-posts {
        float: right;
        font-size: 0.8em;
    }
    .separator {
        height: 2px;
        background: #4d71b7;
        width: 100%;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
        background: linear-gradient(to right, #e52f45 0%, #e52f45 25%, #b42b3e 25%, #b42b3e 50%, #8ab2ff 50%, #8ab2ff 75%, #4d71b7 75%, #4d71b7 100%);
    }

    .post {
        .post-title {
            color: $red;
            font-size: 2.6em;
            font-weight: 700;
            margin-bottom: 2 * $vpadding;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
    }
    .posts {
        .post-title {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 2 * $vpadding;
            color: $lightblue;
            margin-bottom: 5px;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
        .post {
            margin-bottom: 2em;
            // color: rgba(255, 255, 255, 0.8);
        }
        time {
            color: rgba(255, 255, 255, 0.5);
        }
        .post-excerpt {
            margin-top: 1em;
        }
        .post-meta .tags {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    article.main-post {
        margin-top: 2.5em;
        // color: rgba(255, 255, 255, 0.8);
        img {
            max-width: 100%;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $lightblue;
            margin-bottom: 1em;
        }
        blockquote {
            color: rgba(255, 255, 255, 0.5);
            border-left-color: $purple;
        }
        p {
            margin-bottom: 1em;
        }
        ul, ol{
            p {
                margin-bottom: 0;
            }
        }
        table{
            margin-bottom: 1em;
            display: block;
            overflow: auto;
            max-height: 20em;
            thead, tbody{
                display:table;
                width:100%;
                table-layout:fixed;
            }
            th,td {
                padding: 10px;
                border: solid $lightblue 1px;
            }
            tr:nth-child(2n) {
                background: rgba(158,188,226,.12);
            }
        }
        
        pre{
            max-height: 20em;
            overflow: auto;
        }
        .post-footer {
            padding-top: 2em;
            padding-bottom: 2em;
            font-size: 1.2em;
            .share-buttons {
                li {
                    @media (max-width: 768px) {
                        display: block;
                        line-height: 2em;
                    }
                }
            }
            .share-twitter {
                color: #00aced;
                @media (max-width: 768px) {
                    background-color: #00aced;
                    color: #fff;
                    padding: 0.25em;
                    width: 100%;
                    display: block;
                }
            }
            .share-reddit {
                color: #ff5700;
                @media (max-width: 768px) {
                    background-color: #ff5700;
                    color: #fff;
                    padding: 0.25em;
                    width: 100%;
                    display: block;
                }
            }
            .share-facebook {
                color: #3b5998;
                @media (max-width: 768px) {
                    background-color: #3b5998;
                    color: #fff;
                    padding: 0.25em;
                    width: 100%;
                    display: block;
                }
            }
            .share-google-plus {
                color: #dd4b39;
                @media (max-width: 768px) {
                    background-color: #dd4b39;
                    color: #fff;
                    padding: 0.25em;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .post-meta {
        .author-name{
            line-height: 2em;
        }
        .author-avatar div {
            display: inline-block;
            width: 3em;
            height: 3em;

            img {
                border-radius: 50%;
                border: 3px solid white;
            }
        }
        .timeSize{
            margin-top: -10px;
            @media (max-width: 768px) {
                text-align: center;
                font-size: 0.9em;
            }
        }
        .tags {
            @media (max-width: 991px) {
                text-align: left;
            }
        }
        .tags li {
            font-size: 0.8em;
            margin: 5px 5px;
            border: 2px solid $lightblue;
            text-align: center;
            border-radius: 100px / 100px;
            a {
                color: $lightblue;
                display: block;
                width: auto;
                height: 30px;
                line-height: 27px;
                padding: 2px 20px;
            }
            a:hover,
            a:active {
                text-decoration: none;
            }
            &:hover {
                background: $lightblue;
                a {
                    color: $darkpurple;
                }
            }
            &.draft-tag {
                border-color: $red;
                a {
                    color: $red;
                }
                &:hover {
                    background: $red;
                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .headings {
        position:absolute;
        top:0;
        left: -420px;
        bottom:0;
        width: 350px;
        background-color: $darkblue;
        transition: left .2s ease-in-out;
        z-index: 3;
        padding: 5px;
        overflow: auto;
        &.fixed{
            position:fixed;
            top:48px;
        }
        .index-title{
            margin: 10px 0;
            color: $red;
            font-weight: bolder;
            text-align: center;
        }
        .index-list
        {
            font-size: 0.8em;
            ul{
                list-style: none;
                -webkit-padding-start: 20px;
            }
            li{
                position: relative;
                margin-bottom: 0;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                p{
                    margin-bottom: 0;
                    display: inline-block;
                }
                &::before{
                    content:'# ';
                    color: $red;
                }
            }
            a{
                &.active{
                    color: #fff;
                    font-weight: 900;
                }
            }
        }
        .catalog{
            ul{
                counter-reset: catalog;
            }  
            li::before{
                content:'# ' counters(catalog, '.') ' '; 
                counter-increment: catalog;
                // color: $red;
            }
        }
    }

    .collapse-icon{
        padding:8px;
        position:fixed;
        left:-100px;
        bottom:40px;
        cursor:pointer;
        border-radius:30px;
        box-shadow:0 0 10px $lightpurple;
        background-color: $darkblue;
        transition:left .2s ease-in-out;
        z-index:3;
        &.show{
            left:25px;
        }
    }

    &.collapse-catalog{
        .post{
            @media (min-width: 768px) {
                transform:translate(200px, 0);
            }
        }
        .headings{
            left:0;
            @media (max-width: 768px) {
                right: 0;
                width: 100%;
            }
        }   
        .collapse-icon.show{
            @media (min-width: 768px) {
                left: 375px;
            }
        }
    }
}

.tags-collection {
    .tag-title {
        color: $red;
    }
    .tag-meta {
        margin-bottom: 2.5em;
    }
}

code {
    background: #2d2d2d;
    color: #FF9619;
    border-radius: 4px;
}
code[class*="language-"]{
    word-wrap: break-word;
    word-break: break-all;
}
.gatsby-highlight-code-line {
    background-color: #555;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
}
  
.gatsby-highlight {
    margin-bottom: 1em;
    overflow: auto;
    pre[class*="language-"]{
        float: left;
        min-width: 100%;
        overflow: initial;
    }
}

.blog-section {
    margin-top: 2.5em;

    .header {
        margin-bottom: 1.25em;
    }

    .text-right {
        @media(max-width: $desktop-width) {
            text-align: left;
        }
    }
       
    .gt-container {
        .gt-svg svg{
            fill: #6190e8;
        }
        textarea,.gt-comment-content p{
            color: #000;
        }
        .gt-meta{
            z-index:2;
        }
    }
}

.navigate-link:active,
.navigate-link:focus,
.navigate-link {
    font-size: 1.11em;
    font-weight: bold;
    color: #8ab2ff;
    margin-bottom: 5px;
}

.navigate-desc {
    margin-top: $vpadding;
}

.drafts-description {
    margin-bottom: $vpadding * 2;
}

.blog-header {
    display: block;
    margin-bottom: $vpadding * 4;
}

.blog-header__link {
    font-size: 1.5em;
    height: auto;
    padding: 10px 15px;
    float: left;

    @media(max-width: 1200px) {
        height: 7.5em;
    }
    @media(max-width: 768px) {
        float: none;
    }
}

.blog-header__img {
    width: 100px;
    // border-radius: 50%;
    // border: 4px solid #fff;
    margin-right: 25px;
    @media(max-width: 768px) {
        margin: 0 auto;
    }
}

.anchor {
    color: white;
    fill: currentColor;
}

