.search {
  .ais-Hits-item {
    width: 100%;
    box-shadow: none;
    border: none;
    padding: 0;
    margin-top: 0;
  }
  a {
    text-decoration: none;
  }
  .ais-SearchBox {
    float: left;
    width: 70%;
  }
  .ais-HitsPerPage {
    float: right;
    width: 20%;
    .ais-HitsPerPage-select {
      width: 100%;
    }
  }
  .ais-Pagination {
    max-width: 100%;
    margin-top: 1em;
  }
}
