/**
* COLORS mostly from http://materialcolors.com/
*/

$background: #fafafa;
$text-color: #595959;
$link-color: #d23669;;
$darkpurple: #2e2242;
$darkerpurple: #170f24;
$lightpurple: #766592;
$purple: #5E70A6;
$lightblue: #5a8eee;
$blue: #3B4B7D;
$vpadding: 20px;
$darkblue: #dadada;
